@import "../../assets/scss/roots.scss";

header {
    background: #F1F1F1;
    padding: 15px 0px;

    @media screen and (max-width: $small) {
        padding: 15px 0px 40px;

        .text-end {
            display: flex;
            justify-content: space-between;
        }
    }

    .form-group {
        .form-control {
            border-radius: 12px;
            padding: 7px 16px;
            font-size: 16px;
            border-color: #DBDBDB;
            box-shadow: 0px 8px 22px rgba(170, 170, 170, 0.15);

            @media screen and (max-width: $small) {
                margin-bottom: 15px;
            }
        }

        a {
            position: absolute;
            right: 17px;
            top: 8px;
        }
    }

    .border-btm {
        position: relative;

        &::before {
            content: "";
            height: 1px;
            position: absolute;
            background: #CED0D4;
            left: 12px;
            bottom: -15px;
            margin: 0px;
            width: calc(100% - 25px);

            @media screen and (max-width: $small) {
                bottom: -40px;
            }
        }
    }

    .logo {
        img {
            width: 80px;
            height: 100%;
        }

        @media screen and (max-width: $small) {
            text-align: center;
            margin-bottom: 15px;
        }
    }

    .btn {
        span {
            img {
                margin: -2px 5px 0 0;
                display: inline;
            }
        }
    }
}

.btn-outline-secondary {
    &:hover {
        img {
            filter: brightness(0) invert(1);
        }
    }
}