<header id="sticky-header">
    <div class="container">
       <div class="row d-flex align-items-center border-btm">
          <div class="col-md-4 col-12">
             <div class="logo"><a href="index.html"><img src="../../assets/images/logo.svg" alt=""></a></div>
          </div>
          <div class="col-md-3 col-12">
             <form role="search">
                <div class="form-group position-relative">
                   <input type="search" class="form-control" placeholder="Search" aria-label="Search">
                   <a href="#"><img src="../../assets/images/top-search.svg" alt=""></a>
                </div>
             </form>
          </div>
          <div class="col-md-5 col-12">
             <div class="text-end">
                <a href="tel:8559470601" class="btn btn-outline-secondary me-3"> <span><img src="../../assets/images/call.svg" alt=""></span> 855-947-0601</a>
                <a class="btn btn-primary" href="#">Login</a>
             </div>
          </div>
       </div>
    </div>
 </header>