<footer class="footer">
    <div class="container">
       <div class="row d-flex align-items-center">
          <div class="col">
             <div class="footer-box">
                <div class="footer-logo">
                   <img src="../../assets/images/footer-logo.svg" alt="">
                </div>
             </div>
          </div>
          <div class="col-lg-3">
             <div class="footer-box">
                <p class="mb-0 email-label">Join with your email address</p>
                <div class="form-group position-relative">
                   <input type="text" class="form-control">
                   <a href="#"><img src="../../assets/images/search.svg" alt=""></a>
                </div>
             </div>
          </div>
          <div class="col">
             <div class="social-menu">
                <a href="#"><img src="../../assets/images/s-icon-1.svg" alt=""></a>
                <a href="#"><img src="../../assets/images/s-icon-2.svg" alt=""></a>
                <a href="#"><img src="../../assets/images/s-icon-3.svg" alt=""></a>
                <a href="#"><img src="../../assets/images/s-icon-4.svg" alt=""></a>
                <a href="#"><img src="../../assets/images/s-icon-5.svg" alt=""></a>
                <a href="#"><img src="../../assets/images/s-icon-6.svg" alt=""></a>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-12">
             <div class="copy-right">
                © 2022 All Rights Reserved by 123.marketing
             </div>
          </div>
       </div>
    </div>
 </footer>