.btn-primary {
    color: $c-white;
    background-color: $c-orange;
    border-color: $c-orange;
    border-radius: 7px;
    padding: 8px 30px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $btn-p-hover;
        border-color: #ff6f19;
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px rgba(255, 111, 25, .8);
    }
}

.btn-outline-secondary {
    color: $c-orange;
    border-color: $c-orange;
    border-radius: 7px;
    padding: 8px 20px;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $btn-p-hover;
        border-color: $btn-p-hover;
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px rgba(255, 111, 25, .8);
    }
}

.btn-dark {
    background-color: $black;
    border-color: $black;
    border-radius: 7px;
    padding: 8px 30px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}