<section class="banner">
   <div class="container">
      <div class="row d-flex align-items-center">
         <div class="col-md-6 col-12">
            <div class="banner-content">
               <h1>Innovative strategies<br>for business growth</h1>
               <p>Choose NetConnect Digital as your digital marketing agency and propel your business to new heights
                  with our award-winning digital marketing services and proprietary technology platform.</p>
               <a class="btn btn-primary" href="#">Let’s Started</a>
            </div>
         </div>
         <div class="col-md-6 col-12">
            <img src="../../assets/images/banner-img.svg" class="img-fluid" alt="">
         </div>
      </div>
   </div>
</section>

<section class="statistics">
   <div class="container">
      <div class="row d-flex align-items-center">
         <div class="col-md-3 col-12">
            <div class="card border-0">
               <div class="card-body px-0">
                  <div class="d-flex align-items-center">
                     <img src="../../assets/images/Members.svg" class="img-fluid" alt="">
                     <div class="info px-3">
                        <h5>1099+</h5>
                        <p>Members</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-12">
            <div class="card border-0">
               <div class="card-body px-0">
                  <div class="d-flex align-items-center">
                     <img src="../../assets/images/Topics.svg" class="img-fluid" alt="">
                     <div class="info px-3">
                        <h5>1599</h5>
                        <p>Topics</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-12">
            <div class="card border-0">
               <div class="card-body px-0">
                  <div class="d-flex align-items-center">
                     <img src="../../assets/images/Communities.svg" class="img-fluid" alt="">
                     <div class="info px-3">
                        <h5>1243553+</h5>
                        <p>Communities</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-12">
            <div class="column-btn">
               <a class="btn btn-dark" href="#">Start a Discussion</a>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="community py-5">
   <div class="container">
      <div class="row">
         <div class="col-12 px-3">
            <div class="section-head d-flex justify-content-between align-items-center my-4">
               <h2 class="mb-0">Community</h2>
               <a href="#" class="btn btn-primary" type="button">New Post</a>
            </div>
         </div>
         <div class="col-12">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
               (init)="slickInit()">
               <div ngxSlickItem *ngFor="let slide of slides" class="slide mb-4">
                  <div class="card">
                     <div class="community-img position-relative">
                        <img src="../../assets/images/Community-1.svg" class="img-fluid" alt="...">
                        <div class="img-tag">
                           <span><img src="../../assets/images/E-commerce-icon.svg" alt=""></span>
                        </div>
                     </div>
                     <div class="card-body p-0">
                        <div class="card-title">
                           <h5>Ecommerce</h5>
                           <a href="#"><img src="../../assets/images/arrow.svg" class="img-fluid" alt=""></a>
                        </div>
                        <ul class="bottom-list">
                           <li><img src="../../assets/images/Icon-1.svg" alt=""><span>9.840</span></li>
                           <li><img src="../../assets/images/Icon-2.svg" alt=""><span>885</span></li>
                           <li><img src="../../assets/images/Icon-3.svg" alt=""><span>1.810</span></li>
                           <li><img src="../../assets/images/Icon-4.svg" alt=""></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </ngx-slick-carousel>
         </div>
      </div>
   </div>
</section>

<section class="popular-feed py-5">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="section-head d-flex justify-content-between">
               <h2 class="mb-0">Popular Feeds</h2>
               <a href="#" class="btn btn-primary" type="button">View All Feeds</a>
            </div>
         </div>
         <div class="col-lg-4 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/feed-1.svg" class="img-fluid" alt="...">
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>Social MediaManagement <br>Expertise</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/feed-2.svg" class="img-fluid" alt="...">
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>What type of website SEO service is right for my brand?</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/feed-3.svg" class="img-fluid" alt="...">
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>Best Website SEO Service Company Near You!</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/feed-4.svg" class="img-fluid" alt="...">
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>The Web Design and Development Services We Offer</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/feed-5.svg" class="img-fluid" alt="...">
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>WordPress Hosting Support & Server Management</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/feed-6.svg" class="img-fluid" alt="...">
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>How do we do it? – ADA Compliance on Websites</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="our-topic py-5">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="section-head d-flex justify-content-between">
               <h2 class="mb-0">Our Topics</h2>
               <a href="#" class="btn btn-primary" type="button">View All Topics</a>
            </div>
         </div>
         <div class="col-lg-3 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/topic-1.svg" class="img-fluid" alt="...">
               <span class="img-caption">Digital Marketing</span>
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>Your Full-Service Digital<br> Partner</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/topic-2.svg" class="img-fluid" alt="...">
               <span class="img-caption">WordPress Development</span>
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>Keep your WordPress website secure</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/topic-3.svg" class="img-fluid" alt="...">
               <span class="img-caption">Ecommerce</span>
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>Open the doors to your Digital Storefront</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/topic-4.svg" class="img-fluid" alt="...">
               <span class="img-caption">Design & Web Development</span>
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>The Web Design and Development Services We Offer</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/topic-5.svg" class="img-fluid" alt="...">
               <span class="img-caption">PHP Framework</span>
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>Reusable software platform to develop software applications </h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/topic-6.svg" class="img-fluid" alt="...">
               <span class="img-caption">WordPress Development</span>
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>Keep your WordPress website secure</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/topic-8.svg" class="img-fluid" alt="...">
               <span class="img-caption">Responsive Web Design</span>
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>We Deliver a Top-Notch Mobile-Friendly Web Design Service.</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3 mb-3">
            <div class="card rounded-card">
               <img src="../../assets/images/topic-7.svg" class="img-fluid" alt="...">
               <span class="img-caption">ADA Compliance</span>
               <div class="card-body p-0 py-3">
                  <div class="card-title mb-0">
                     <h5>How do we do it? – ADA Compliance on Websites</h5>
                     <a href="#" class="l-more">Learn More<img src="../../assets/images/arrow-orange.svg"
                           class="img-fluid ps-2" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="latest-blog py-5">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="section-head d-flex justify-content-between">
               <h2 class="mb-0">Latest Blogs</h2>
               <a href="#" class="btn btn-primary" type="button">See More</a>
            </div>
         </div>
         <div class="col-lg-4 mb-3">
            <div class="blog-list">
               <div class="card">
                  <div class="blog-img position-relative">
                     <img src="../../assets/images/blog-1.svg" alt="">
                     <div class="img-tag">
                        <span><img src="../../assets/images/tag.svg" alt=""></span><span class="ps-2">Design</span>
                     </div>
                  </div>
                  <div class="card-body">
                     <h5>
                        <a href="#">User Experience (UX) Design: Enhancing Customer Satisfaction and Conversion
                           Rates</a>
                     </h5>
                     <p>
                        User Experience (UX) design has emerged as a critical component in the success of digital
                        products and services. With the…
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mb-3">
            <div class="blog-list">
               <div class="card">
                  <div class="blog-img position-relative">
                     <img src="../../assets/images/blog-2.svg" alt="">
                     <div class="img-tag">
                        <span><img src="../../assets/images/tag.svg" alt=""></span><span class="ps-2">Digital
                           Marketing</span>
                     </div>
                  </div>
                  <div class="card-body">
                     <h5>
                        <a href="#">The Power of Digital Marketing: How It Can Transform Your Business</a>
                     </h5>
                     <p>
                        In the digital age, where technology has become an integral part of our lives, digital marketing
                        has emerged as a…
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mb-3">
            <div class="blog-list">
               <div class="card">
                  <div class="blog-img position-relative">
                     <img src="../../assets/images/blog-3.svg" alt="">
                     <div class="img-tag">
                        <span><img src="../../assets/images/tag.svg" alt=""></span><span class="ps-2">PPC</span>
                     </div>
                  </div>
                  <div class="card-body">
                     <h5>
                        <a href="#">Maximizing ROI with Pay-Per-Click (PPC) Advertising</a>
                     </h5>
                     <p>
                        In the digital age, pay-per-click (PPC) advertising has emerged as a powerful tool for
                        businesses to drive targeted traffic to…
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="faq py-5">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="faq-img">
               <img src="../../assets/images/faq.svg" alt="">
            </div>
         </div>
         <div class="col-lg-6">
            <div class="questions">
               <div class="title">
                  <h2>Frequently Asked Questions</h2>
               </div>
               <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                     <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           What do I get?
                        </button>
                     </h2>
                     <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been the industry's standard dummy text ever since the 1500s.
                        </div>
                     </div>
                  </div>
                  <div class="accordion-item">
                     <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Where do I get?
                        </button>
                     </h2>
                     <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been the industry's standard dummy text ever since the 1500s.
                        </div>
                     </div>
                  </div>
                  <div class="accordion-item">
                     <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           How do I get?
                        </button>
                     </h2>
                     <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been the industry's standard dummy text ever since the 1500s.
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="build-connection py-5">
   <div class="container">
      <div class="row">
         <div class="col-lg-7 pe-lg-5  py-5">
            <h2>Build your Connection</h2>
            <p>
               connect with over 1 million cconstrustion professionals. Supports can be either at the end or at
               any intermediate point along a struuctural member or a constituent part.
            </p>
            <button class="btn btn-dark" type="button">Join Community</button>
         </div>
         <div class="col-lg-5">
            <img src="../../assets/images/connection-banner.svg" alt="" class="img-fluid">
         </div>
      </div>
   </div>
</section>