@import "../../assets/scss/roots.scss";

.banner {
	background: url(../../assets/images/banner-bg.svg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 350px;
	padding: 15px 0px 40px 0px;

	h1 {
		font-weight: 800;
		font-size: 50px;
		line-height: 1.1;
	}

	p {
		font-size: 18px;
		padding: 10px 0px;
	}
}

.community {
	background-color: $bg-grey;

	.community-carousel {
		padding: 0;
	}

	.card {
		background: #FFFFFF;
		margin: 10px;
		padding: 20px;
		border-radius: 20px;
		border: none;
		box-shadow: rgba(207, 207, 207, 0.25) 0px 4px 20px;

		img {
			width: 100%;
		}

		.card-title {
			display: flex;
			justify-content: space-between;
			padding: 18px 0px;
			margin: 0 0 18px 0;
			border-bottom: 1px solid #CED0D4;

			a {
				img:hover {
					// content: url("../images/arrow-orange.svg");
					width: 18px;
					height: 14px;
				}
			}
		}

		h5 {
			font-size: 18px;
			font-weight: 700;
			margin: 0;
		}

		ul {
			display: inline-flex;
			gap: 48px;
			padding: 0;
			margin: 0;

			li {
				list-style: none;
				display: inline-flex;
				align-items: center;
				position: relative;

				&::before {
					content: "";
					height: 20px;
					position: absolute;
					background: #CED0D4;
					left: -25px;
					bottom: 0px;
					margin: 0px;
					width: 1px;
				}

				&:first-child::before {
					display: none;
				}

				img {
					margin-right: 12px;
					padding: 0;

					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}

	.community-img {
		.img-tag {
			background: rgba(1, 1, 1, 0.5);
			border-radius: 10px;
			position: absolute;
			left: 22px;
			bottom: 18px;
			width: 45px;
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.section-head {
	h2 {
		font-weight: 700;
		font-size: 32px;
		line-height: 1.6;
		color: $text-color;
	}
}

.statistics {
	padding: 35px 0;

	.card {
		.card-body {
			p {
				margin: 0;
				font-size: 18px;
			}

			h5 {
				font-weight: 700;
				font-size: 22px;
				margin: 0;
			}
		}
	}

	.column-btn {
		text-align: right;
		padding: 20px 0px;
	}
}

.popular-feed {
	background-color: #FFEFE6;
}

.section-head {
	margin-bottom: 30px;
	align-items: center;
}

.rounded-card {
	background: $c-white;
	padding: 20px;
	border-radius: 25px;
	border: none;
	box-shadow: 0px 8px 35px rgba(255, 95, 0, 0.14);
	height: 100%;

	.card-body {
		a {
			color: #FF5F00;
			text-decoration: none;
			font-weight: 500;
			font-size: 18px;
			line-height: 1.4;
		}

		.card-title {
			a {
				margin-top: 22px;
				display: block;
			}

		}

		h5 {
			color: #000;
			font-weight: 600;
			font-size: 22px;
			line-height: 1.4;
		}
	}
}

.our-topic {
	.card {
		box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
		border-radius: 16px;
		position: relative;
		padding: 16px;

		.img-caption {
			position: absolute;
			bottom: 52%;
			color: #fff;
			left: 12%;
			font-weight: 600;
			font-size: 16px;
			line-height: 1.2;
		}

		.card-title {
			h5 {
				font-weight: 600;
				font-size: 18px;
				line-height: 1.4;
				color: #000;
			}
		}
	}
}

.latest-blog {
	background: $bg-grey;

	.blog-list {
		height: 100%;

		.card {
			box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
			border-radius: 20px;
			border: transparent;

			img {
				width: 100%;
			}
		}

		.card-body {
			h5 {
				a {
					font-weight: 600;
					font-size: 20px;
					line-height: 1.4;
					color: #121212;
					min-height: 90px;
					display: block;
					text-decoration: none;

					&:hover {
						color: $c-orange;
					}
				}
			}

			p {
				font-weight: 400;
				font-size: 16px;
				line-height: 1.4;
				color: #65676B;
			}
		}

		.blog-img {
			.img-tag {
				background: rgba(1, 1, 1, 0.5);
				border-radius: 7px;
				color: #fff;
				font-weight: 500;
				font-size: 14px;
				line-height: 1.4;
				position: absolute;
				display: flex;
				padding: 5px 10px;
				right: 22px;
				bottom: 18px;
			}
		}
	}
}

.faq {
	.title {
		h2 {
			font-weight: 700;
			font-size: 32px;
			line-height: 1.6;
			color: #393736;
			padding-bottom: 25px;
		}
	}

	.accordion-button {
		background: #FF5F00;
		border-radius: 20px;
		box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
		color: #fff;
		font-weight: 600;
		font-size: 18px;
		line-height: 1.4;
		letter-spacing: 0.01em;
		margin-bottom: 20px;
		padding: 12px 20px;

		&::after {
			content: none;
		}

		&.collapsed {
			background: #FFB386;
			box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
			border-radius: 20px;
		}
	}

	.accordion-item {
		border: transparent;

		&:first-of-type {
			.accordion-button {
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
			}
		}

		&:last-of-type {
			.accordion-button {
				&.collapsed {
					border-bottom-right-radius: 20px;
					border-bottom-left-radius: 20px;
				}
			}
		}
	}

	.accordion-body {
		background: #FFFFFF;
		box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
		border-radius: 20px;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.6;
		color: #010101;
		margin-bottom: 20px;
		padding: 25px;
	}
}
